
<div class="skillbar clearfix " data-percent="90%">
	<div class="skillbar-title" style="background: #d35400;"><span>PHP</span></div>
	<div class="skillbar-bar" style="background: #e67e22;"></div>
	<div hidden class="skill-bar-percent">80</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="80%">
	<div class="skillbar-title" style="background: #2980b9;"><span>RoR</span></div>
	<div class="skillbar-bar" style="background: #3498db;"></div>
	<div hidden class="skill-bar-percent">80</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="60%">
	<div class="skillbar-title" style="background: #27ae60;"><span>Java</span></div>
	<div class="skillbar-bar" style="background: #2ecc71;"></div>
	<div hidden class="skill-bar-percent">60</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="60%">
	<div class="skillbar-title" style="background: #333333;"><span>C/C++</span></div>
	<div class="skillbar-bar" style="background: #525252;"></div>
	<div hidden class="skill-bar-percent">60</div>
</div> <!-- End Skill Bar -->
<div class="skillbar clearfix " data-percent="55%">
	<div class="skillbar-title" style="background: #46465e;"><span>Python</span></div>
	<div class="skillbar-bar" style="background: #5a68a5;"></div>
	<div hidden class="skill-bar-percent">55</div>
</div> <!-- End Skill Bar -->
