<!--<header class="header-post background-image" role="banner"  style="background-image: url('{{page.image}}'); {% if page.image-position %} background-position: {{ page.image-position }}; {% endif %}; ">-->
<header class="header-post">
    <div class="content" style="padding:20px; width: 100%; max-width: 100%">
    	<div class="titleoverlay main" style="opacity:.8;"></div>
        <div class="header-content">
	        {% if page.date %}
	        	<time itemprop="datePublished" datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>
	        {% endif %}
	        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
	        <p itemprop="description" class="subtitle">{{ page.description }}</p>
    	</div>
	</div>
	<a class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
	{% include menu-search.html %}
</header>