<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% include navigation.html %}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>
                    <p class="intro-text">{{ content }}</p>
		    <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
		    </a>
                </div>
            </div>
        </div>
    </div>
</header>
