/* 
 * split.css.scss
 * @author Mat Scaperoth: scaperoth.com
 * controls scss for all pages
 */

/*GLOBAL*/

body {
    padding: 0;
    font-family:$body-font;
}


hr{
    border:1px dotted;
    color:$white;
}

ul,ol{
    list-style:inside;
}


a{
    &:hover{
    text-decoration: none;
}

    &:visited{
    }
}


.col-center{
    width:50%;
    margin:0 auto;
}

.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}


/*NAVIGATION*/
.navbar-custom{ 

    &.top-nav-collapse{
        background:#000;
        opacity:.7;
    }
    .navbar-brand{
        padding-top:30px;
        color:$text-color;
        @include font-face('header');

        &:hover{
            color:$white;
        }
    }

    .nav li a{
        color:$text-color;
        border-bottom:1px solid transparent;
        transition: all $fast-transition-time ease-in-out;
        -webkit-transition: all $fast-transition-time ease-in-out;
        -o-transition: all $fast-transition-time ease-in-out;
        -moz-transition: all $fast-transition-time ease-in-out;

        &:hover{
            color: $white;
            background:transparent;
            border-bottom:1px solid $white;
            transition: all $fast-transition-time ease-in-out;
            -webkit-transition: all $fast-transition-time ease-in-out;
            -o-transition: all $fast-transition-time ease-in-out;
            -moz-transition: all $fast-transition-time ease-in-out;
        }
    }
    .nav li.active{
        color:#444;
    }

    &.top-nav-collapse{
        .navbar-brand{
                color:#fff;
            
        }
        .navbar-brand:hover{
                color:#ccc;
            
        }
        .nav li a{
            color:#fff;
        }
        .nav li a:hover{
            color: #ccc;
            background:transparent;
            border-bottom:1px solid #ccc;
            transition: all $fast-transition-time ease-in-out;
            -webkit-transition: all $fast-transition-time ease-in-out;
            -o-transition: all $fast-transition-time ease-in-out;
            -moz-transition: all $fast-transition-time ease-in-out;
        
        }
    }

}

.content-section{
    text-align:left;

    #post-meta{
        text-align: center;
    }
}


/*SINGLE PAGE*/
.single-page{
    #page-title {
        
            text-align:center;
        background:transparent;
        background-size:cover;
        height:500px;
        position:relative;
        h1{
            margin-top:160px;
            padding:0;
        }
        .content-section{
         padding-top:40px;
        }
    }

}

.section-title{
    text-align: center;
    text-decoration: underline;
    padding:20px;
}

/*SINGLE POSTS*/

#post-image{
    min-height:300px;
    width:100%;
    margin:0 auto;
    text-align: center;
    img{
        max-height:1200px;
    }
}

#page-content{
    padding-top:40px;
}

#post-title{
    padding:20px;
}

.container-fluid{
    padding:0;
    margin:0;
}

.single-post .row, #page-content .row{

    div > *{
        width:100%;
        padding:10px 30px;
        margin:0 auto;
    }

    div{
        padding:0px;
    }

        img, iframe{
            width:100% !important;
        }

        iframe {
            padding:0;
        }

    div.full, div.full >*{
            padding:10px 0 !important;
            margin:0;
            width:100% !important;
    }
            
}

#social{
        padding:40px 0;
    a{
        color:#fff;
    }
}

#discussion{
    padding:0 20px;
}


/*BLOG PAGE*/

#blog-posts{
    img{
        z-index:0;
    }

    .post-container, .no-image{
        overflow:hidden;
        background-image: none;
        background-size:cover;
        height:369px;
        background-repeat: no-repeat;
        background-position: center center;            /* optionally, center the image */
        .post-overlay{
            background-color:#000;
            position:absolute;
            top:0;
            bottom:0;
            height:100%;
            width:100%;
            opacity:.2;
        }
        .post-information{
            color:$white;
            padding:10px 20px;
            border-top:2px solid #777;
            z-index: 999;
            position:absolute;
            bottom:25%;
        
                a, small{
                    color:#fff;
                }
        }
    
    }

    .no-image { 
        .post-overlay{
            opacity:.5;
        }

    }
}

@media(min-width:$medium-break-point) {

    #blog-posts{
        .post-container{
            .post-overlay{
                opacity:0;
                transition: all $fast-transition-time ease-in-out;
                -webkit-transition: all $fast-transition-time ease-in-out;
                -o-transition: all $fast-transition-time ease-in-out;
                -moz-transition: all $fast-transition-time ease-in-out;
            }
            .post-information{
                bottom:-30%;
                transition: all $fast-transition-time ease-in-out;
                -webkit-transition: all $fast-transition-time ease-in-out;
                -o-transition: all $fast-transition-time ease-in-out;
                -moz-transition: all $fast-transition-time ease-in-out;
            
            }

            &:hover .post-information{
                bottom:20%;
                transition: all $fast-transition-time ease-in-out;
                -webkit-transition: all $fast-transition-time ease-in-out;
                -o-transition: all $fast-transition-time ease-in-out;
                -moz-transition: all $fast-transition-time ease-in-out;
            }

            &:hover .post-overlay{
                opacity:.4;
                transition: all $fast-transition-time ease-in-out;
                -webkit-transition: all $fast-transition-time ease-in-out;
                -o-transition: all $fast-transition-time ease-in-out;
                -moz-transition: all $fast-transition-time ease-in-out;
            }
        }
    
}

    #post-image{
    }
    .navbar-custom{

        .navbar-brand{
            padding-top:25px;
        }
    }

    /*SINGLE POSTS*/
    .single-post, #page-content{
        .row{
            div > *{
                width:75%;
            }
            div.full, div.full >*{
                    padding:20px 0;
            }
            
        }
    }

}

@media(min-width:$large-break-point) {
    #post-image{
    }
    .single-post, #page-content{
        .row{
            div > *{
                width:60%;
            }

            div.full, div.full >*{
                    padding:10px 0;
            }
            
        }
    }
}