<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% assign flip_class = "" %}
        {% if page.image-position == "bottom" %}
        {% assign flip_class = "flip" %}
        {% endif %}
        {% include navigation.html %}
        <figure>
        <div id="post-image" class="crop-height {{ flip_class }}">
            {% if page.image %}
            <img class="scale {{ flip_class }}" src="/img/{{ page.image }}.{{page.image-extension}}" align="middle" >
            {% endif %}
        </div>
        </figure>
        <section id="{{ page.title }}" class="container-fluid single-post content-section text-center">
            <div class="row">
                <div id="post-meta" class="col-lg-12 ">
                    <h1 id="post-title"><strong>{{ page.title }}</strong></h1>
                    <h4 ><strong>{{ page.date | date_to_string }}</strong>
                    <small> . {{ page.category }} . <a href="{{ page.url }}#disqus_thread">Comments</a><p></p>
                    {% for tag in page.tags %}
                    <a href="/tags/{{ tag }}.html">#{{ tag }}</a>
                    {% endfor %}
                    </small>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ page.content | markdownify }}
                </div>
            </div>
        </div>
    </section>
    <section id="discussion">
        <div class="row">
            <div class="col-sm-6  col-sm-offset-3">
                {% include share.html %}
                {% include comments.html %}
            </div>
        </div>
    </section>
</section>
<section id="social" class="container text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            {% include social-buttons.html %}
        </div>
    </div>
</section>
{% include footer.html %}
{% include js.html %}
</body>
</html>