html,
body
	height 100%
	background-color white


$bg
	background mainimg
	background-size cover
	background-position left
	height 100%
	.content
		width 95%
		align(both)
		text-align center


@keyframes backgroundout {
  from {
    color: #fff;
  }
  to {
    color: #000;
  }
}

header
	border-bottom solid 10px lighten(main, 60%)

#navigation h2
	color main

// Header home
.header-site
	@extends $bg
	h1,h2
		color: main
		text-align center
	.site-title
		font-size rem(60px)
		line-height 1
		margin-top -80px
		display block
		+above(cut)
			margin-bottom 0
			font-size rem(100px)
	.site-description
		font-size rem(20px)
		display block
		margin rem(30px) 0
		+above(cut)
			font-size rem(40px)
	.main-links
		ul
			width 18em
			margin 4em auto
			list-style none
			li
				float left
				margin  0 10px
				a
					font-size 1.5em
					padding 10px
					border-radius 7px
					border 1px solid main
					text-decoration none
					background-color main
					color sec
					-webkit-transition all 500ms ease-out 
				    -moz-transition all 500ms ease-out 
				    -o-transition all 500ms ease-out 
				    transition all 500ms ease-out 
				a:visited
					color sec
				a:hover
					border-color third
					background-color transparent
					color main
					-webkit-transition all 500ms ease-out 
				    -moz-transition all 500ms ease-out 
				    -o-transition all 500ms ease-out 
				    transition all 500ms ease-out 


// Header Post
.header-post
	@extends $bg
	.content
		+above(cut)
			center(1000px)
	.subheader
		display table
		padding 20px
		a
			border 2px solid main
			border-radius 20px
			padding 0 10px
			+above(cut)
				padding 0 10px

	.date
		mainFont(300)
		font-size rem(16px)
	h1
		text-transform uppercase
		font-size rem(30px)
		margin 0 0 30px
		+above(cut)
			font-size rem(60px)
	.subtitle
		mainFont(300)
		font-size rem(20px)
	h1,.subtitle, .date
		color main
		text-align center
	p
		color main
		text-decoration none
		mainFont(300)
		font-size rem(18px)

@media (max-height: 500px)
	header, .header-site, .header-post
		position relative
		height 650px
		.content
			position absolute
			height 500px
			top 55%
	.header-post
		height 250px
		.content
			position absolute
			height 100px
			top 55%