// COLORS
main = #444444
mainimg = url('../img/light-bulb.jpg')
hover = darken(main, 50%)
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #444444
colorcode = #3085F4
bodybgcolor = #FFFFFF
// Resolution
cut = 37.5rem