// COLORS
main = #2B2B2B
sec = #F6F6F6
third = #DE1B1B
fourth = #E9E581
link = #0562dc
mainimg = url(../img/blur.jpg)
hover = darken(main, 50%)
lightGray = main
texts = F5F3EE
colorcode = #3085F4
post-color = #74AFAD
// Resolution
cut = 37.5rem