<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% include navigation.html %}
        <div class="single-page">
            <section id="page-title" class="container-fluid content-section text-center">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1 id="title"><strong>{{ page.title }}</strong></h1>
                        <p>This is the about page. It tells about what we do.</p>
                    </div>
                </div>
            </section>
            <section id="page-content">
                <div class="row">
                    <div class="col-lg-12 ">
                        {{ page.content | markdownify }}
                    </div>
                </div>
            </section>
            <section id="social" class="container content-section text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        {% include social-buttons.html %}
                    </div>
                </div>
            </section>
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>